body {
  background: #f9e933;
}

/* added padding to space out header main and footer */
header, main, footer {
  min-width: 855px;
  padding: 20px;
}

/*added default font family of header main and footer */
header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;
  font-family: 'PT Sans Narrow';

}

header {
  background: white;
  overflow: auto;
}

header h1 {
  float: left;
  width: 570px;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}


footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}

.sitemap h5{

}

/* qa font changed without borders */
.qa {
  margin: auto;
  width: 60%;
  padding: 50px;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
}
.qa h2{
  font-size: 50px;
}

/* edit link information 
links will have pt sans font WITHOUT NARROW */
a:link {
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  color: darkorange;
}

a:visited
{
  color: grey;
}

/* when a link is hovered, color should change to black */
a:hover
{
  color: black;
}
