body {
  background: #f9e933;
}

/* added padding to space out header main and footer */
/* added default font family of header main and footer */
header, main, footer {
  min-width: 855px;
  padding: 20px;
  font-family: 'PT Sans Narrow', sans-serif;
}

header .container, main .container, footer .container {
  max-width: 855px;
  margin: auto;

}

header {
  background: white;
  overflow: auto;
}

h1 {
  float: left;
  width: 570px;
  font-size: 30px;
}

header nav {
  float: right;
  width: 285px;
}

main {
  background: white;
  overflow: auto;
}

main .left {
  float: left;
  width: 570px;
}

main .right {
  float: right;
  width: 285px;
}


footer .left {
  float: left;
  width: 570px;
}

footer .sitemap {
  float: right;
  width: 285px;
}

h5 {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: gray;
}

.contact {
  color: gray;
}

/* Q&A Portion of the page will be inside a zig-zag box
   sourced from https://cocreate.localmotors.com/blog/post/zig-zag-borders-in-css/1205/ */
.qa {
  margin: auto;
  width: 60%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
  position: relative;                       
  padding: 8px 8px 32px 8px;    /*CSS Lint throws a warning because width and padding are being used together */
  background: #dddccf;          /*Our zig zag box feature will not work without using both */
}

/* sourced from https://cocreate.localmotors.com/blog/post/zig-zag-borders-in-css/1205/ */
.qa:after {
  background: linear-gradient(-45deg, #ffffff 16px, transparent 0), linear-gradient(45deg, #ffffff 16px, transparent 0);
  background-repeat: repeat-x;
  background-size: 32px 32px;
  content: " ";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 32px;
}

dd {
  text-indent: 35px;
}

h2 {
  font-size: 50px;
  text-align: center
}

/* edit link information 
links will have pt sans font WITHOUT NARROW */
a:link {
  text-decoration: none;
  
  color: darkorange;
}

a:visited {
  color: grey;
}

/* when a link is hovered, color should change to black */
a:hover {
  color: black;
}
